[user]
    name         = Justin Patterson
    email        = justinpatterson@gmail.com
[push]
    default      = simple
[alias]
    a            = add -A
    b            = branch
    c            = checkout
    co           = checkout
    cb           = checkout -b
    cob          = checkout -b
    cl           = clean -xfd -e '*.suo' -e '*.user' -e 'packages/'
    clp          = clean -xfd -e '*.suo' -e '*.user'
    f            = fetch
    fp           = fetch --prune
    l            = log --pretty =oneline --abbrev-commit
    r            = rebase --interactive HEAD~10
    s            = -p status
    ec           = config --global -e
    pr           = pull --rebase --prune
    up           = !git pull --rebase --prune $@ && git submodule update --init --recursive && echo 'git on up'
    rc           = rebase --continue
    ra           = rebase --abort
    ss           = -p status -s
    lg           = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date =relative
    lga          = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date =relative --all
    ll           = log --pretty =oneline --abbrev-commit --max-count=15
    lc           = log --stat --summary
    prune        = fetch --prune
    aliases      = config --get-regexp alias
    bd           = branch -d
    b            = branch
    bl           = blame -w -M -C
    bra          = branch -ra
    brav         = branch -rav
    changed      = status -sb
    filelog      = log -u
    hist         = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue) [%an]%Creset' --abbrev-commit --date=relative
    last         = log -p --max-count=1 --word-diff
    lastref      = rev-parse --short HEAD
    lasttag      = describe --tags --abbrev=0
    pick         = add -p
    remotes      = remote -v show
    stage        = add
    standup      = log --since yesterday --oneline --author 'Justin Patterson'
    stats        = diff --stat
    sync         = ! git fetch upstream -v && git fetch origin -v && git checkout master && git merge upstream/master
    unstage      = reset HEAD
    wdiff        = diff --word-diff
    who          = shortlog -s -e --
    dt           = difftool
    dtc          = difftool --cached
    mt           = mergetool
    cm           = !git add -A && git commit -m
    save         = !git add -A && git commit -m 'SAVEPOINT'
    wip          = !git add -u && git commit -m "WIP" 
    undo         = reset HEAD~1 --mixed
    amend        = commit -a --amend
    ane          = commit -a --amend --no-edit
    wipe         = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
    bclean       = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
    mm           = "!f() { git co master; git up; git co -; git merge master; }; f"
    pushit       = ! git push && echo "push it real good"
[color]
    branch       = auto
    diff         = auto
    status       = auto
[color "diff"]
    meta         = yellow bold
    frag         = magenta bold
    old          = red bold
    new          = green bold
[color "status"]
    added        = yellow
    changed      = green
    untracked    = cyan
[color "branch"]
    current      = yellow reverse
    local        = yellow
    remote       = green
  upstream       = bold green
[diff]
    tool         = bc4
[difftool]
    prompt       = false
[difftool "bc4"]
    cmd          = \"C:/Program Files/Beyond Compare 4/BComp.exe\" \"$LOCAL\" \"$REMOTE\"
[merge]
    tool         = bc4
[mergetool]
    prompt       = false
    keepBackup   = false
[mergetool "bc4"]
    cmd          = \"C:/Program Files/Beyond Compare 4/BComp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
    trustExitCode= true
[credential]
	helper = manager
